* {
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Lucida Grande', Verdana;
}

h1 {
  font-size: 14px;
}

h2 {
  font-size: 12px;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset, img {
  border: 0;
}

ol, ul {
  list-style: none;
}

$sq: #486;
$sq_un: #ffb;
$border: $sq / 4;
$shadow: #222;

body {
  margin: 20px;
}

#board-container {
  float: left;

  #board {
    border-collapse: separate;
    border-spacing: 1px;
    border: 5px solid $border;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 3px 3px 6px $shadow;

    td {
      width: 42px;
      height: 42px;
      border: 1px solid $border;
      background-color: $sq_un;
      -webkit-border-radius: 2px;
      -webkit-transition: background 0.5s;

      &.dojoDndContainer, &.dojoDndContainerOver {
        background-color: $sq;
      }

      img {
        vertical-align: middle;
        margin: 1px;
      }
    }
  }
}

body.dojoDndMove #board-container #board td {
  &.dojoDndTarget {
    background-color: $sq * 1.25;
    &.dojoDndContainerOver {
      background-color: $sq * 2;
    }
  }
  &.dojoDndTargetDisabled {
    background-color: $sq * 0.85;
  }
  &.dojoDndSourceMoved img {
    visibility: hidden;
  }
}

.dojoDndAvatar {
  opacity: 0.85;

  .dojoDndAvatarHeader {
    display: none;
  }
  .dojoDndAvatarItem img {
    margin: 1px;
    width: 36px;
    height: 36px;
  }
}
