/* board */

#board-container {
  float: left;
}

#board {
  border-collapse: separate;
  border-spacing: 1px;
  border: 5px solid #121;
  border-radius: 2px;
  -webkit-box-shadow: 3px 3px 6px #222;
}

#board td {
  width: 42px;
  height: 42px;
  border: 1px solid #121;
  border-radius: 2px;
}

#board td {
  -webkit-transition: background 0.5s;
  background-color: #ffb;
}

#board td.dojoDndContainer {
  background-color: #486;
}

#board td.dojoDndContainerOver {
  background-color: #6c9;
}

#board td.dojoDndTargetDisabled {
  background-color: #3d7a5b;
}

#board img {
  vertical-align: middle;
  margin: 1px;
}

/* DND */

body.dojoDndMove #board td.dojoDndTarget {
  background-color: #6c9;
}

body.dojoDndMove #board td.dojoDndTarget.dojoDndContainerOver {
  background-color: #cfe;
}

body.dojoDndMove #board td.dojoDndSourceMoved img {
  visibility: hidden;
}

.dojoDndAvatarHeader {
  display: none;
}

.dojoDndAvatarItem img {
  margin: 1px;
  width: 40px;
  height: 40px;
}

.dojoDndAvatarCanDrop .dojoDndAvatarItem td {
}

/* history */

#move-history {
  margin-left: 360px;
  border-collapse: collapse;
  border: 1px solid #aaa;
}

#move-history th {
  border: 1px solid #aaa;
}

#move-history th, #move-history td {
  width: 200px;
  text-align: left;
  font-size: 12px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
