/* board */

#board-container {
  float: left;
}

#board {
  border-collapse: separate;
  border-spacing: 1px;
  border: 5px solid #121;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 3px #222;
}

#board td {
  width: 42px;
  height: 42px;
  border: 1px solid #121;
  border-radius: 3px;
}

#board td.on {
  -webkit-transition: background 0.5s;
  background-color: #486;
}

#board td.on.dojoDndContainerOver {
/*  background-color: #cb8;*/
}

#board td.off {
  background-color: #ffb;
}

#board img {
  margin: 1px;
  vertical-align: middle;
}

/* DND */

body.dojoDndMove #board td.on.dojoDndTarget {
  -webkit-transition: background 0.5s;
  background-color: #eee;
}

.dojoDndAvatar {
  border-collapse: collapse;
  border-spacing: 0px;
}

.dojoDndAvatarHeader {
  display: none;
}

.dojoDndAvatarItem td {
  border-radius: 3px;
  background-color: #4a9570;
  width: 31px;
  height: 31px;
}

.dojoDndAvatarItem img {
  margin: 1px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.dojoDndAvatarCanDrop .dojoDndAvatarItem td {
  background-color: #fff;
}

/* history */

#move-history {
  margin-left: 360px;
  border-collapse: collapse;
  border: 1px solid #aaa;
}

#move-history th {
  border: 1px solid #aaa;
}

#move-history th, #move-history td {
  width: 200px;
  text-align: left;
  font-size: 12px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
