#board-container {
  float: left;
  margin-left: 100px;
  perspective: 800px;
  #board {
    border-collapse: separate;
    border-spacing: 1px;
    border: 4px solid #122;
    border-radius: 2px;
    box-shadow: 3px 3px 6px #888;
    transform: translateY(-100px) rotateX(45deg);
    td {
      background-color: #ffb;
      border: 1px solid #122;
      border-radius: 2px;
      height: 62px;
      transition: background 0.5s;
      width: 62px;
      &.playable {
        background-color: #486;
        &.is-over {
          background-color: #933;
        }
        &.can-drop {
          background-color: #cb6;
          &.is-over {
            background-color: #8fc;
          }
        }
      }
      img {
        height: 60px;
        margin: 1px;
        vertical-align: middle;
        width: 60px;
        &.is-dragging {
          visibility: hidden;
        }
      }
    }
  }
}
