.board-container,
.history-container {
  border: 6px solid #444;
  border-radius: 2px;
  box-shadow: 3px 3px 6px #888;
  float: left;
  margin: 20px;
}

.board-container {
  & .board {
    border-collapse: separate;
    border-spacing: 0;

    & td {
      background-color: #ffb;
      height: 64px;
      padding: 0;
      position: relative;
      transition: background 0.5s;
      width: 64px;

      &.playable {
        background-color: #486;
        &.is-over {
          background-color: #933;
        }
      }
      &.playable.can-drop {
        background-color: #cb6;
        &.is-over {
          background-color: #9cb;
        }
      }

      & span {
        color: #fff;
        font-size: 9px;
        font-weight: bold;
        left: 2px;
        position: absolute;
        top: 2px;
      }

      & img {
        height: 60px;
        left: 2px;
        position: absolute;
        top: 4px;
        width: 60px;

        &.is-dragging {
          visibility: hidden;
        }
      }
    }
  }

  &.three-d {
    /* perspective support */
    margin-left: 20vh;
    margin-top: 0;
    perspective: 800px;

    & .board {
      transform: rotateX(35deg);
    }
  }
}

.history-container {
  max-height: 512px;
  overflow: scroll;
  width: 400px;

  & .history {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    & th, & td {
      padding: 10px;
      text-align: center;
      width: 50%;
    }

    & thead {
      & th {
        background-color: #486;
        color: #fff;
        position: sticky;
        top: 0px;
      }
    }

    & tbody {
      & td {
        font-family: monospace;
        font-size: 14px;
      }

      & tr:nth-child(odd) td {
        background-color: #ffb;
      }

      & tr:nth-child(even) td {
        background-color: #ddb;
      }
    }
  }
}
