:root {
  --primary: #486;
  --secondary: #ffb;
  --droppable: #cb6;
  --undroppable: #933;
}

.board-container,
.history-container {
  border: 6px solid #444;
  border-radius: 2px;
  box-shadow: 3px 3px 6px #888;
  float: left;
  font-family: sans-serif;
  font-size: 14px;
  margin: 20px;
}

.board-container {
  & .board {
    border-collapse: separate;
    border-spacing: 0;

    & td {
      background-color: var(--secondary);
      height: 64px;
      padding: 0;
      position: relative;
      transition: background-color 0.5s;
      width: 64px;

      &.playable {
        background-color: var(--primary);
        &.is-over {
          background-color: var(--undroppable);
        }
        &.can-drop {
          background-color: var(--droppable);
          &.is-over {
            background-color: color-mod(var(--primary) tint(40%));
          }
        }
      }

      & span {
        color: white;
        font-size: 9px;
        font-weight: bold;
        left: 2px;
        position: absolute;
        top: 2px;
      }

      & .piece-container {
        height: 60px;
        left: 2px;
        position: absolute;
        top: 4px;
        width: 60px;

        &.is-dragging {
          visibility: hidden;
        }
      }
    }
  }

  &.three-d {
    /* perspective support */
    margin-left: 20vh;
    margin-top: 0;
    perspective: 800px;

    & .board {
      transform: rotateX(35deg);
    }
  }
}

.history-container {
  max-height: 512px;
  overflow: scroll;
  width: 400px;

  & .history {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    & th,
    & td {
      padding: 10px;
      text-align: center;
      width: 50%;

      &.thinking {
        padding: 0;

        & img {
          vertical-align: middle;
          width: 20px;
          height: 20px;
        }
      }
    }

    & thead {
      & th {
        background-color: var(--primary);
        color: white;
        position: sticky;
        top: 0px;
      }
    }

    & tbody {
      & tr:nth-child(odd) td {
        background-color: var(--secondary);
      }

      & tr:nth-child(even) td {
        background-color: color(var(--secondary) shade(20%));
      }
    }
  }
}
